<% if notice %>
    <p id="notice"><% notice %></p>
<% end %>
<h1><%= link_to "Создать свой URL", urls_path %> </h1>
<h2>Уже зарегестрированные URL:</h2>

<% @urls.each do |url| %>
  <div>
    <ul><li><h3><%= url.title %></h3></li></ul>
  </div>
<% end %>
